<div>
  <form name="wordform" class="col-md-12 quizForm" id="wordform">
    <label class="sample" >
      {{word }}
      </label>
    <br />
    <div>
      <br />
      <input ng-model="input" class="inputArea"  type="text"  id="inputWordTextBox" uppercased></input>
      <span ng-show="input==word" class="glyphicon glyphicon-ok resultIcon resultIcon-ok" aria-hidden="true"></span>
      <span ng-show="input!=word && wordform.$submitted" class="glyphicon glyphicon-remove resultIcon resultIcon-wrong" aria-hidden="true"></span>
      <br />
    </div>
    <br />
    <input ng-hide="input==word" type="submit" class="btn btn-primary" id="checkButton" value="Check!" />
    <button ng-click="tryNextWordClicked(wordform)" class="btn" ng-class="input==word?'btn-success':'btn-info'" type="button" id="tryNextButton" value"Try Another">Try Another</button>
    <br />
  </form>
</div>